<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CareProTabBarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3468E281E82E3B800F38D1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3468E3E1E82E3B900F38D1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3468E491E82E3B900F38D1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
